body {
    margin: 0px;
    padding-top: 30px;
}

body * {
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
	margin-bottom: 0px;
}

h1, h2 {
    color:#222;    
}

h2, h3, h4 {
    margin: 20px 0px 0px 0px;
}

h4 {
	font-weight: 400;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

ul {
    list-style: none;
    padding-left: 0px;
}

ul li {
    display: inline-block;
    /*margin-right: 20px;*/
}

a {
    font-size: 12pt;
    color: #0088FF;
    font-weight: 100;
    text-decoration: none;
}

a:hover, a:active, a:focus, .doc:hover {
    /*color: #4E83A9;*/
    /*font-weight: 400;*/
}

p {
    height: 20px;
}

.box {
    display: inline-block;
    width: auto;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin-left: 10px;
    padding: 0px 20px 0px 20px;
}

.docMeta {
    display: none;
}

body > .container {
    width: 960px;
    margin: 0px auto 0px auto;
}

.topic {
    background-color: #FDFDFD;
    margin-left: 0px;
    margin-right: 10px;
    color:#888;
    border: 1px solid #F5F3F3;
}

.active, .topic:hover, topic:active, topic:focus {
    background-color: #0088FF;
    color:#FFF;
    border: 1px solid #0088FF;

}

#docs-by-topic .topic-based,  #docs-recommended .content-based, #docs-recommended .collaborative-filtering {
    display: inline-block;
}

#recommended-docs-header {
	display: none;
}

#docs-by-topic.container, #docs-recommended.container {
    margin-top: 20px;
    min-height: 200px;
    position: relative;
}

.lightbox {
    display: none;
}

.toast-warning {
    font-size: 8pt;
    top: 10px;
    margin-left: -150px;
}

.doc {
    display: inline-block;
    width: 165px;
    height: 180px;
    padding: 5px;
    background-color: #FDFDFD; /*#F2F2F2*/
    border: 1px solid #F5F3F3;
    text-align: center;
    /*
    vertical-align: middle;
    line-height: 60px;*/
    margin: 0px 14px 14px 0px;
}

.doc:hover {
    border: 1px solid #BBB;
    background-color: #FCFCFC;
}

.doc span {
    display: block;
    padding: 10px 0px 10px 0px;

}

.doc span.title {
	border-bottom: 1px solid #DDD;
	height:40px;
	overflow: hidden;
}

.doc span.description {
    color: #777;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10pt;
    height: 110px;
    overflow:none;
    text-align: center;
    line-height: 150%;
}

.content-based .highlight {
	background-color: #FF0;
}

.collaborative-filtering .highlight {
	background-color: #0F0;
}

.margin-top {
    margin-top: 20px;
}

.content-beans-container {
    float: right;
    height: 50px;

}

#refresh-documents,  #recommended-docs-header {
	display: none;
}

#topics {
	width: inherit;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#title, #welcome-greeting {
	display: inline-block;
	margin-top: 0px;
}

#welcome-greeting {
	float: right;
	margin-top: 15px;
}

#toggle-colors {
	position: fixed;
	bottom: 0px;
	width: 50px;
	height: 50px;
	/*background: #EFEFEF;*/

}


